{% extends "blog/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg 12">
                <div class="article-detail-image" style='background-image: url("{{ post.image.url }}")'>

                </div>
            </div>
        </div>
    </div>
    <section class="article-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="article-content">
                        <h3>{{ post.title }}</h3>
                        <hr>
                        <p>{{ post.body|linebreaks }}</p>
                        <p class="article-info pull-right "><span
                                class="date-author-tag">Dodano: </span>{{ post.published }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="{% url "blog:post_share" post.id %}">
                        <h2><i class="fa fa-send"></i> Udostępnij ten wpis</h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 article-comments">
                    {% for comment in comments %}
                        <div class="comment">
                            <p class="info">
                                <strong>{{ comment.name }}</strong> {{ comment.created }}
                            </p>
                            {{ comment.body|linebreaks }}
                        </div>
                    {% empty %}
                        <p>Jeszcze nie ma komentarzy.</p>
                    {% endfor %} {% if new_comment %}
                    <h3>Twój komentarz został dodany</h3>
                {% else %}
                    </div>
                    </div>
                    <div class="row">
                        <div class=" col-lg-12">
                            <div class="comment-form-frame">
                                <h3>Dodaj komentarz</h3>
                                <form class="form-template" action="." method="post">
                                    {{ comment_form.as_p }} {% csrf_token %}
                                    <button name="submit" type="submit" id="contact-submit" data-submit="...Wysyłanie">
                                        Wyślij
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                    </section>
                {% endif %}
{% endblock %}
